<div class="row">
    <table class="table table-striped">
        <thead>
        <tr class="bg-primary">
            <td>N</td>
            <td class="col-md-3">Usuario</td>
            <td>Número Boleta</td>
            <td class="col-md-1">Fecha Boleta</td>
            <td class="col-md-1">Fecha Emisión</td>
            <td class="col-md-1">Monto Impuesto</td>
            <td class="col-md-1">Monto Líquido</td>
            <td class="col-md-1">Monto</td>
            <td class="col-md-2">Glosa</td>
            <td class="col-md-1 text-center">Estado</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for bh_id, b in boletas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ b['usuario'] }} <br><small class="us-carrera">{{ b['rut'] }} &nbsp; <i class="fa fa-mobile"> {{ b['celular'] }}</i></small> </td>
                <td>{{ b['numero'] | truncate(40) }}</td>
                <td class="text-center">{{ b['fechaBoleta'] | date("d-m-Y") }}</td>
                <td class="text-center">{{ b['fechaEmision'] | date("d-m-Y") }}</td>
                <td>${{ b['montoImpuesto'] | number_format(0,',','.') }}</td>
                <td>${{ b['montoLiquido']  | number_format(0,',','.') }}</td>
                <td>${{ b['monto']  | number_format(0,',','.') }}</td>
                <td>{{ b['glosa'] | truncate(50) }}</td>
                <td class="text-center">{{ b['estado'] }}</td>
                <td>
                    <a title="Descargar Boleta" href="{{ path('ad_boleta_download', { 'id' : bh_id }) }}"><i class="fa fa-fw fa-eye"></i></a>
                    {% if is_granted('permiso', 'ad_boleta_vca') and b['vca'] %}
                    <a title="Vigente" href="{{ path('ad_boleta_vca_vigente', {'boleta_id' : bh_id}) }}"><i class="fa fa-fw fa-check"></i></a>
                    <a title="Anulada" href="{{ path('ad_boleta_vca_anulada', {'boleta_id' : bh_id}) }}"><i class="fa fa-fw fa-times"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="alert alert-warning"><td colspan="11">No se encuentran boletas con los filtros seleccionados</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>